/*******************************************************************************
 * angel.layout.scss
 *
 * Styling of the "angel" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
/*@import "singularitygs";*/
/* line 15, ../../../sass/layouts/angel/angel.layout.scss */
* {
  font-family: Verdana, Helvetica, sans-serif; }

@media (min-width: 480px) {
  /* Header Area */
  /* line 20, ../../../sass/layouts/angel/angel.layout.scss */
  body {
    font-size: 16px; }

  /* line 21, ../../../sass/layouts/angel/angel.layout.scss */
  .node__submitted {
    display: none; }

  /* line 23, ../../../sass/layouts/angel/angel.layout.scss */
  .scrim {
    background-color: rgba(88, 88, 88, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  /* line 30, ../../../sass/layouts/angel/angel.layout.scss */
  .fred {
    color: #d25333; }

  /* line 31, ../../../sass/layouts/angel/angel.layout.scss */
  .white {
    color: #fff; }

  /* line 32, ../../../sass/layouts/angel/angel.layout.scss */
  .single {
    font-size: 1.1em; }

  /* line 33, ../../../sass/layouts/angel/angel.layout.scss */
  .double {
    font-size: 1.7em; }

  /* line 34, ../../../sass/layouts/angel/angel.layout.scss */
  .center {
    text-align: center; }

  /* line 35, ../../../sass/layouts/angel/angel.layout.scss */
  .fourtop {
    margin-top: 4em; }

  /* line 36, ../../../sass/layouts/angel/angel.layout.scss */
  .leftbottom {
    position: absolute;
    left: 10%;
    bottom: 5%; }

  /* line 38, ../../../sass/layouts/angel/angel.layout.scss */
  .l-content h1 {
    display: none; }

  /* line 39, ../../../sass/layouts/angel/angel.layout.scss */
  .top {
    background: url(/dev/sites/default/files/projectpic_0.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45em; }

  /* line 47, ../../../sass/layouts/angel/angel.layout.scss */
  .flex-colstretch {
    display: flex;
    flex-direction: column;
    border: 0px dotted red;
    min-height: 900px; }

  /* line 50, ../../../sass/layouts/angel/angel.layout.scss */
  .flex-colstretchnoheight {
    display: flex;
    flex-direction: column;
    border: 0px dotted red; }

  /* line 55, ../../../sass/layouts/angel/angel.layout.scss */
  section {
    position: relative;
    display: flex;
    flex-flow: row;
    min-height: 20em;
    align-items: stretch; }

  /* line 56, ../../../sass/layouts/angel/angel.layout.scss */
  .teal {
    background-color: #47bdbf; }

  /* line 57, ../../../sass/layouts/angel/angel.layout.scss */
  .red {
    color: #d35232;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    display: block;
    text-align: left; }

  /* line 59, ../../../sass/layouts/angel/angel.layout.scss */
  p.frontblack {
    font-size: 1em;
    color: black; }

  /* line 60, ../../../sass/layouts/angel/angel.layout.scss */
  p.frontwhite {
    font-size: 1.5em;
    color: white; }

  /* line 61, ../../../sass/layouts/angel/angel.layout.scss */
  .item {
    box-sizing: content-box;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #fff;
    min-height: 8em; }

  /* line 62, ../../../sass/layouts/angel/angel.layout.scss */
  .item2 {
    box-sizing: content-box;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 8em; }

  /* line 64, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad {
    box-sizing: content-box;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #fff;
    min-height: 4em; }

  /* line 65, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad2 {
    box-sizing: content-box;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 4em; }

  /* line 67, ../../../sass/layouts/angel/angel.layout.scss */
  p.first {
    width: 75%;
    margin: 3em auto;
    color: white;
    font-size: 1.5em;
    vertical-align: middle; }

  /* line 68, ../../../sass/layouts/angel/angel.layout.scss */
  .breadcrumb {
    display: none; }

  /* line 71, ../../../sass/layouts/angel/angel.layout.scss */
  .item img {
    width: 100%;
    min-height: 100%; }

  /* line 72, ../../../sass/layouts/angel/angel.layout.scss */
  .item2 img {
    width: 100%;
    min-height: 100%; }

  /* line 73, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad img {
    width: 100%;
    min-height: 100%; }

  /* line 74, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad2 img {
    width: 100%;
    min-height: 100%; }

  /* line 75, ../../../sass/layouts/angel/angel.layout.scss */
  .centerbox {
    width: 80%;
    margin: 1em auto; }
    /* line 76, ../../../sass/layouts/angel/angel.layout.scss */
    .centerbox p {
      text-align: left; }

  /* line 78, ../../../sass/layouts/angel/angel.layout.scss */
  ul#twolist {
    list-style-type: none;
    color: #d15232;
    width: 60%;
    margin: 0 auto;
    text-align: left; }

  /* line 79, ../../../sass/layouts/angel/angel.layout.scss */
  .middlecenter {
    width: 80%;
    margin: 2em auto;
    height: auto;
    text-align: center; }

  /* line 81, ../../../sass/layouts/angel/angel.layout.scss */
  .gray {
    color: #666; }

  /* line 82, ../../../sass/layouts/angel/angel.layout.scss */
  footer {
    height: 20em;
    background-color: #d5d5d5;
    margin: 0; }

  /* line 87, ../../../sass/layouts/angel/angel.layout.scss */
  .l-region--branding {
    width: 40%;
    display: inline-block;
    float: right; }

  /* line 88, ../../../sass/layouts/angel/angel.layout.scss */
  #block-system-main-menu .menu {
    list-style-type: none; }
    /* line 89, ../../../sass/layouts/angel/angel.layout.scss */
    #block-system-main-menu .menu li {
      list-style-type: none;
      display: inline-block;
      float: left;
      margin-left: 2em; }

  /* line 92, ../../../sass/layouts/angel/angel.layout.scss */
  #superfish-1 {
    margin-top: 2em; }
    /* line 94, ../../../sass/layouts/angel/angel.layout.scss */
    #superfish-1 li {
      margin-left: 2em; }

  /* line 100, ../../../sass/layouts/angel/angel.layout.scss */
  .l-branding {
    border: 0px dotted maroon;
    background-color: #ededed;
    text-align: left; }

  /* line 109, ../../../sass/layouts/angel/angel.layout.scss */
  .l-header {
    margin: 0; }

  /* line 113, ../../../sass/layouts/angel/angel.layout.scss */
  .l-region--navigation {
    clear: both; } }
@media (min-width: 800px) {
  /* Header Area */
  /* line 124, ../../../sass/layouts/angel/angel.layout.scss */
  body {
    font-size: 16px; }

  /* line 125, ../../../sass/layouts/angel/angel.layout.scss */
  .node__submitted {
    display: none; }

  /* line 127, ../../../sass/layouts/angel/angel.layout.scss */
  .scrim {
    background-color: rgba(88, 88, 88, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  /* line 134, ../../../sass/layouts/angel/angel.layout.scss */
  .fred {
    color: #d25333; }

  /* line 135, ../../../sass/layouts/angel/angel.layout.scss */
  .white {
    color: #fff; }

  /* line 136, ../../../sass/layouts/angel/angel.layout.scss */
  .single {
    font-size: 1.1em; }

  /* line 137, ../../../sass/layouts/angel/angel.layout.scss */
  .double {
    font-size: 1.7em; }

  /* line 138, ../../../sass/layouts/angel/angel.layout.scss */
  .center {
    text-align: center; }

  /* line 139, ../../../sass/layouts/angel/angel.layout.scss */
  .fourtop {
    margin-top: 4em; }

  /* line 140, ../../../sass/layouts/angel/angel.layout.scss */
  .leftbottom {
    position: absolute;
    left: 10%;
    bottom: 5%; }

  /* line 142, ../../../sass/layouts/angel/angel.layout.scss */
  .l-content h1 {
    display: none; }

  /* line 143, ../../../sass/layouts/angel/angel.layout.scss */
  .top {
    background: url(/dev/sites/default/files/projectpic_0.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45em; }

  /* line 151, ../../../sass/layouts/angel/angel.layout.scss */
  .flex-colstretch {
    display: flex;
    flex-direction: column;
    border: 0px dotted red;
    min-height: 900px; }

  /* line 154, ../../../sass/layouts/angel/angel.layout.scss */
  .flex-colstretchnoheight {
    display: flex;
    flex-direction: column;
    border: 0px dotted red; }

  /* line 158, ../../../sass/layouts/angel/angel.layout.scss */
  section {
    position: relative;
    display: flex;
    flex-flow: row;
    min-height: 20em;
    align-items: stretch; }

  /* line 159, ../../../sass/layouts/angel/angel.layout.scss */
  section.quad {
    position: relative;
    display: flex;
    flex-flow: row;
    min-height: 10em;
    align-items: stretch; }

  /* line 160, ../../../sass/layouts/angel/angel.layout.scss */
  .teal {
    background-color: #47bdbf; }

  /* line 161, ../../../sass/layouts/angel/angel.layout.scss */
  .red {
    color: #d35232;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    display: block;
    text-align: left; }

  /* line 163, ../../../sass/layouts/angel/angel.layout.scss */
  p.frontblack {
    font-size: 1em;
    color: black; }

  /* line 164, ../../../sass/layouts/angel/angel.layout.scss */
  p.frontwhite {
    font-size: 1.5em;
    color: white; }

  /* line 165, ../../../sass/layouts/angel/angel.layout.scss */
  .item {
    box-sizing: content-box;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #fff;
    min-height: 8em; }

  /* line 166, ../../../sass/layouts/angel/angel.layout.scss */
  .item2 {
    box-sizing: content-box;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 8em; }

  /* line 168, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad {
    box-sizing: content-box;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #fff;
    min-height: 4em; }

  /* line 169, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad2 {
    box-sizing: content-box;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 4em; }

  /* line 171, ../../../sass/layouts/angel/angel.layout.scss */
  p.first {
    width: 75%;
    margin: 3em auto;
    color: white;
    font-size: 1.5em;
    vertical-align: middle; }

  /* line 172, ../../../sass/layouts/angel/angel.layout.scss */
  .breadcrumb {
    display: none; }

  /* line 175, ../../../sass/layouts/angel/angel.layout.scss */
  .item img {
    width: 100%;
    min-height: 100%; }

  /* line 176, ../../../sass/layouts/angel/angel.layout.scss */
  .item2 img {
    width: 100%;
    min-height: 100%; }

  /* line 177, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad img {
    width: 100%;
    min-height: 100%; }

  /* line 178, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad2 img {
    width: 100%;
    min-height: 100%; }

  /* line 179, ../../../sass/layouts/angel/angel.layout.scss */
  .centerbox {
    width: 80%;
    margin: 1em auto; }
    /* line 180, ../../../sass/layouts/angel/angel.layout.scss */
    .centerbox p {
      text-align: left; }

  /* line 182, ../../../sass/layouts/angel/angel.layout.scss */
  ul#twolist {
    list-style-type: none;
    color: #d15232;
    width: 60%;
    margin: 0 auto;
    text-align: left; }

  /* line 183, ../../../sass/layouts/angel/angel.layout.scss */
  .middlecenter {
    width: 80%;
    margin: 2em auto;
    height: auto;
    text-align: center; }

  /* line 185, ../../../sass/layouts/angel/angel.layout.scss */
  .gray {
    color: #666; }

  /* line 186, ../../../sass/layouts/angel/angel.layout.scss */
  footer {
    height: 20em;
    background-color: #d5d5d5;
    margin: 0; }

  /* line 191, ../../../sass/layouts/angel/angel.layout.scss */
  .l-region--branding {
    width: 40%;
    display: inline-block;
    float: right; }

  /* line 192, ../../../sass/layouts/angel/angel.layout.scss */
  #block-system-main-menu .menu {
    list-style-type: none; }
    /* line 193, ../../../sass/layouts/angel/angel.layout.scss */
    #block-system-main-menu .menu li {
      list-style-type: none;
      display: inline-block;
      float: left;
      margin-left: 2em; }

  /* line 196, ../../../sass/layouts/angel/angel.layout.scss */
  #superfish-1 {
    margin-top: 2em; }
    /* line 198, ../../../sass/layouts/angel/angel.layout.scss */
    #superfish-1 li {
      margin-left: 2em; }

  /* line 204, ../../../sass/layouts/angel/angel.layout.scss */
  .l-branding {
    border: 0px dotted maroon;
    background-color: #ededed;
    text-align: left; }

  /* line 213, ../../../sass/layouts/angel/angel.layout.scss */
  .l-header {
    margin: 0; }

  /* line 217, ../../../sass/layouts/angel/angel.layout.scss */
  .l-region--navigation {
    clear: both; } }
@media (min-width: 1200px) {
  /* Header Area */
  /* line 228, ../../../sass/layouts/angel/angel.layout.scss */
  body {
    font-size: 16px; }

  /* line 229, ../../../sass/layouts/angel/angel.layout.scss */
  .node__submitted {
    display: none; }

  /* line 231, ../../../sass/layouts/angel/angel.layout.scss */
  .scrim {
    background-color: rgba(88, 88, 88, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  /* line 238, ../../../sass/layouts/angel/angel.layout.scss */
  .fred {
    color: #d25333; }

  /* line 239, ../../../sass/layouts/angel/angel.layout.scss */
  .white {
    color: #fff; }

  /* line 240, ../../../sass/layouts/angel/angel.layout.scss */
  .single {
    font-size: 1.1em; }

  /* line 241, ../../../sass/layouts/angel/angel.layout.scss */
  .double {
    font-size: 1.7em; }

  /* line 242, ../../../sass/layouts/angel/angel.layout.scss */
  .center {
    text-align: center; }

  /* line 243, ../../../sass/layouts/angel/angel.layout.scss */
  .fourtop {
    margin-top: 4em; }

  /* line 244, ../../../sass/layouts/angel/angel.layout.scss */
  .leftbottom {
    position: absolute;
    left: 10%;
    bottom: 5%; }

  /* line 246, ../../../sass/layouts/angel/angel.layout.scss */
  .l-content h1 {
    display: none; }

  /* line 247, ../../../sass/layouts/angel/angel.layout.scss */
  .top {
    background: url(/dev/sites/default/files/projectpic_0.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45em; }

  /* line 255, ../../../sass/layouts/angel/angel.layout.scss */
  .flex-colstretch {
    display: flex;
    flex-direction: column;
    border: 0px dotted red;
    min-height: 900px; }

  /* line 259, ../../../sass/layouts/angel/angel.layout.scss */
  .flex-colstretchnoheight {
    display: flex;
    flex-direction: column;
    border: 0px dotted red; }

  /* line 264, ../../../sass/layouts/angel/angel.layout.scss */
  section {
    position: relative;
    display: flex;
    flex-flow: row;
    min-height: 20em;
    align-items: stretch; }

  /* line 265, ../../../sass/layouts/angel/angel.layout.scss */
  section.quad {
    position: relative;
    display: flex;
    flex-flow: row;
    min-height: 10em;
    align-items: stretch; }

  /* line 266, ../../../sass/layouts/angel/angel.layout.scss */
  .teal {
    background-color: #47bdbf; }

  /* line 267, ../../../sass/layouts/angel/angel.layout.scss */
  .red {
    color: #d35232;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    display: block;
    text-align: left; }

  /* line 269, ../../../sass/layouts/angel/angel.layout.scss */
  p.frontblack {
    font-size: 1em;
    color: black; }

  /* line 270, ../../../sass/layouts/angel/angel.layout.scss */
  p.frontwhite {
    font-size: 1.5em;
    color: white; }

  /* line 271, ../../../sass/layouts/angel/angel.layout.scss */
  .item {
    box-sizing: content-box;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #fff;
    min-height: 8em; }

  /* line 272, ../../../sass/layouts/angel/angel.layout.scss */
  .item2 {
    box-sizing: content-box;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 8em; }

  /* line 274, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad {
    box-sizing: content-box;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #fff;
    min-height: 4em; }

  /* line 275, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad2 {
    box-sizing: content-box;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 4em; }

  /* line 277, ../../../sass/layouts/angel/angel.layout.scss */
  p.first {
    width: 75%;
    margin: 3em auto;
    color: white;
    font-size: 1.5em;
    vertical-align: middle; }

  /* line 278, ../../../sass/layouts/angel/angel.layout.scss */
  .breadcrumb {
    display: none; }

  /* line 281, ../../../sass/layouts/angel/angel.layout.scss */
  .item img {
    width: 100%;
    min-height: 100%; }

  /* line 282, ../../../sass/layouts/angel/angel.layout.scss */
  .item2 img {
    width: 100%;
    min-height: 100%; }

  /* line 283, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad img {
    width: 100%;
    min-height: 100%; }

  /* line 284, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad2 img {
    width: 100%;
    min-height: 100%; }

  /* line 285, ../../../sass/layouts/angel/angel.layout.scss */
  .centerbox {
    width: 80%;
    margin: 1em auto; }
    /* line 286, ../../../sass/layouts/angel/angel.layout.scss */
    .centerbox p {
      text-align: left; }

  /* line 288, ../../../sass/layouts/angel/angel.layout.scss */
  ul#twolist {
    list-style-type: none;
    color: #d15232;
    width: 60%;
    margin: 0 auto;
    text-align: left; }

  /* line 289, ../../../sass/layouts/angel/angel.layout.scss */
  .middlecenter {
    width: 80%;
    margin: 2em auto;
    height: auto;
    text-align: center; }

  /* line 291, ../../../sass/layouts/angel/angel.layout.scss */
  .gray {
    color: #666; }

  /* line 292, ../../../sass/layouts/angel/angel.layout.scss */
  footer {
    height: 20em;
    background-color: #d5d5d5;
    margin: 0; }

  /* line 297, ../../../sass/layouts/angel/angel.layout.scss */
  .l-region--branding {
    width: 40%;
    display: inline-block;
    float: right; }

  /* line 298, ../../../sass/layouts/angel/angel.layout.scss */
  #block-system-main-menu .menu {
    list-style-type: none; }
    /* line 299, ../../../sass/layouts/angel/angel.layout.scss */
    #block-system-main-menu .menu li {
      list-style-type: none;
      display: inline-block;
      float: left;
      margin-left: 2em; }

  /* line 302, ../../../sass/layouts/angel/angel.layout.scss */
  #superfish-1 {
    margin-top: 2em; }
    /* line 304, ../../../sass/layouts/angel/angel.layout.scss */
    #superfish-1 li {
      margin-left: 2em; }

  /* line 310, ../../../sass/layouts/angel/angel.layout.scss */
  .l-branding {
    border: 0px dotted maroon;
    background-color: #ededed;
    text-align: left; }

  /* line 319, ../../../sass/layouts/angel/angel.layout.scss */
  .l-header {
    margin: 0; }

  /* line 323, ../../../sass/layouts/angel/angel.layout.scss */
  .l-region--navigation {
    clear: both; } }

/*# sourceMappingURL=angel.layout.css.map */
