/*
Error: Invalid CSS after "...-align:center; ": expected "}", was "!important; div{"
        on line 410 of /Users/Pi/Sites/LAWD/sites/all/themes/city_of_angels/sass/layouts/angel/angel.layout.scss

405:         text-decoration:none !important;
406:         display:block !important;
407:         color:#666 !important;
408:         font-size:1.5em !important;
409:         line-height: 2em;
410:         text-align:center; !important; div{
411:                       width:100% !important;
412:                       height:100% !important;
413:                       h3{display:block !important;
414:                           padding:1em !important;
415:                           text-align:center !important;

Backtrace:
/Users/Pi/Sites/LAWD/sites/all/themes/city_of_angels/sass/layouts/angel/angel.layout.scss:410
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:1164:in `expected'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:1098:in `expected'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:1093:in `tok!'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:640:in `block'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:658:in `block_child'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:647:in `block_contents'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:639:in `block'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:658:in `block_child'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:639:in `block'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:709:in `declaration_or_ruleset'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:658:in `block_child'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:639:in `block'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:242:in `include_directive'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:194:in `directive'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:657:in `block_child'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:650:in `block_contents'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/scss/parser.rb:42:in `parse'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/engine.rb:403:in `_to_tree'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `each'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/lib/sass/plugin/compiler.rb:328:in `block in watch'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/Pi/.rvm/gems/ruby-1.9.3-p551@omega.city_of_angels/gems/sass-3.4.17/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...-align:center; \": expected \"}\", was \"!important; div{\"\A         on line 410 of /Users/Pi/Sites/LAWD/sites/all/themes/city_of_angels/sass/layouts/angel/angel.layout.scss\A \A 405:         text-decoration:none !important;\A 406:         display:block !important;\A 407:         color:#666 !important;\A 408:         font-size:1.5em !important;\A 409:         line-height: 2em;\A 410:         text-align:center; !important; div{\A 411:                       width:100% !important;\A 412:                       height:100% !important;\A 413:                       h3{display:block !important;\A 414:                           padding:1em !important;\A 415:                           text-align:center !important;"; }
