/*******************************************************************************
 * angel.layout.scss
 *
 * Styling of the "angel" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
/* No files to import found in variables/**\/* */
/* No files to import found in abstractions/**\/* */
/* No files to import found in base/**\/* */
/* No files to import found in components/**\/* */
/* line 20, ../../../sass/layouts/angel/angel.layout.scss */
* {
  font-family: Verdana, Helvetica, sans-serif; }

/* Header Area */
/* line 29, ../../../sass/layouts/angel/angel.layout.scss */
body {
  font-size: 16px; }

/* line 30, ../../../sass/layouts/angel/angel.layout.scss */
.node__submitted {
  display: none; }

/* line 32, ../../../sass/layouts/angel/angel.layout.scss */
.scrim {
  background-color: rgba(88, 88, 88, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 39, ../../../sass/layouts/angel/angel.layout.scss */
.fred {
  color: #d25333; }

/* line 40, ../../../sass/layouts/angel/angel.layout.scss */
.white {
  color: #fff; }

/* line 41, ../../../sass/layouts/angel/angel.layout.scss */
.single {
  font-size: 1.1em; }

/* line 42, ../../../sass/layouts/angel/angel.layout.scss */
.double {
  font-size: 1.7em; }

/* line 43, ../../../sass/layouts/angel/angel.layout.scss */
.center {
  text-align: center; }

/* line 44, ../../../sass/layouts/angel/angel.layout.scss */
.fourtop {
  margin-top: 4em; }

/* line 45, ../../../sass/layouts/angel/angel.layout.scss */
.leftbottom {
  position: absolute;
  left: 10%;
  bottom: 5%; }

/* line 47, ../../../sass/layouts/angel/angel.layout.scss */
.l-content h1 {
  display: none; }

/* line 48, ../../../sass/layouts/angel/angel.layout.scss */
.top {
  background: url(/dev/sites/default/files/projectpic_0.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 45em; }

/* line 56, ../../../sass/layouts/angel/angel.layout.scss */
.flex-colstretch {
  display: flex;
  flex-direction: column;
  border: 0px dotted red;
  min-height: 900px; }

/* line 60, ../../../sass/layouts/angel/angel.layout.scss */
.flex-colstretchnoheight {
  display: flex;
  flex-direction: column;
  border: 0px dotted red; }

/* line 65, ../../../sass/layouts/angel/angel.layout.scss */
section {
  position: relative;
  display: flex;
  flex-flow: row;
  min-height: 20em;
  align-items: stretch; }

/* line 66, ../../../sass/layouts/angel/angel.layout.scss */
section.quad {
  position: relative;
  display: flex;
  flex-flow: row;
  min-height: 10em;
  align-items: stretch; }

/* line 67, ../../../sass/layouts/angel/angel.layout.scss */
.teal {
  background-color: #47bdbf; }

/* line 68, ../../../sass/layouts/angel/angel.layout.scss */
.red {
  color: #d35232;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  display: block;
  text-align: left; }

/* line 70, ../../../sass/layouts/angel/angel.layout.scss */
p.frontblack {
  font-size: 1em;
  color: black;
  width: 80%;
  margin: 0 auto; }

/* line 71, ../../../sass/layouts/angel/angel.layout.scss */
p.frontwhite {
  font-size: 1.5em;
  color: white; }

/* line 72, ../../../sass/layouts/angel/angel.layout.scss */
.item {
  box-sizing: content-box;
  width: 25%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  background-color: #fff;
  min-height: 8em; }

/* line 73, ../../../sass/layouts/angel/angel.layout.scss */
.item2 {
  box-sizing: content-box;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
  min-height: 8em; }

/* line 75, ../../../sass/layouts/angel/angel.layout.scss */
.itemquad {
  box-sizing: content-box;
  width: 25%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  background-color: #fff;
  min-height: 4em; }

/* line 76, ../../../sass/layouts/angel/angel.layout.scss */
.itemquad2 {
  box-sizing: content-box;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
  min-height: 4em; }

/* line 78, ../../../sass/layouts/angel/angel.layout.scss */
p.first {
  width: 75%;
  margin: 3em auto;
  color: white;
  font-size: 1.5em;
  vertical-align: middle; }

/* line 79, ../../../sass/layouts/angel/angel.layout.scss */
.breadcrumb {
  display: none; }

/* line 82, ../../../sass/layouts/angel/angel.layout.scss */
.item img {
  width: 100%; }

/* line 83, ../../../sass/layouts/angel/angel.layout.scss */
.item2 img {
  width: 100%; }

/* line 84, ../../../sass/layouts/angel/angel.layout.scss */
.itemquad img {
  width: 100%; }

/* line 85, ../../../sass/layouts/angel/angel.layout.scss */
.itemquad2 img {
  width: 100%; }

/* line 86, ../../../sass/layouts/angel/angel.layout.scss */
.centerbox {
  width: 100%;
  margin: 0 auto; }
  /* line 87, ../../../sass/layouts/angel/angel.layout.scss */
  .centerbox h4.red {
    width: 80%;
    margin: 1em auto; }
  /* line 88, ../../../sass/layouts/angel/angel.layout.scss */
  .centerbox p {
    text-align: left; }

/* line 90, ../../../sass/layouts/angel/angel.layout.scss */
ul#twolist {
  list-style-type: none;
  color: #d15232;
  width: 60%;
  margin: 0 auto;
  text-align: left; }

/* line 91, ../../../sass/layouts/angel/angel.layout.scss */
.middlecenter {
  width: 80%;
  margin: 2em auto;
  height: auto;
  text-align: center; }

/* line 93, ../../../sass/layouts/angel/angel.layout.scss */
.gray {
  color: #666; }

/* line 94, ../../../sass/layouts/angel/angel.layout.scss */
footer {
  height: 20em;
  background-color: #d5d5d5;
  margin: 0; }

/* line 99, ../../../sass/layouts/angel/angel.layout.scss */
.l-region--branding {
  width: 40%;
  display: inline-block;
  float: right; }

/* line 100, ../../../sass/layouts/angel/angel.layout.scss */
#block-system-main-menu .menu {
  list-style-type: none; }
  /* line 101, ../../../sass/layouts/angel/angel.layout.scss */
  #block-system-main-menu .menu li {
    list-style-type: none;
    display: inline-block;
    float: left;
    margin-left: 2em; }

/* line 104, ../../../sass/layouts/angel/angel.layout.scss */
#superfish-1 {
  margin-top: 2vw; }
  /* line 106, ../../../sass/layouts/angel/angel.layout.scss */
  #superfish-1 li {
    margin-left: 1vw; }

/* line 112, ../../../sass/layouts/angel/angel.layout.scss */
.l-branding {
  border: 0px dotted maroon;
  background-color: #ededed;
  text-align: left; }

/* line 121, ../../../sass/layouts/angel/angel.layout.scss */
.l-header {
  margin: 0; }

/* line 125, ../../../sass/layouts/angel/angel.layout.scss */
.l-region--navigation {
  clear: both; }

/* line 130, ../../../sass/layouts/angel/angel.layout.scss */
.field-name-field-fourup, .field-name-field-fourupright {
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-flow: row;
  flex-flow: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 67vw;
  width: 100%;
  clear: both; }

@media (min-width: 480px) {
  /* Header Area */
  /* line 148, ../../../sass/layouts/angel/angel.layout.scss */
  html, body {
    height: 100%;
    margin: 0;
    font-size: 2.5vw; }

  /* line 152, ../../../sass/layouts/angel/angel.layout.scss */
  .menu-block-wrapper {
    clear: both;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Verdana, Geneva, sans-serif;
    /* Menu font */
    font-size: 80%;
    /* Menu text size */
    z-index: 1000;
    /* This makes the dropdown menus appear above the page content below */
    position: relative; }

  /****block menu begin****/
  /* line 167, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    position: relative;
    right: 50%; }
    /* line 174, ../../../sass/layouts/angel/angel.layout.scss */
    #block-menu-block-1 .menu-block-wrapper ul.menu li {
      margin: 0 0 0 1px;
      padding: 0;
      float: left;
      position: relative;
      left: 50%;
      top: 1px; }

  /* line 184, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu li a {
    display: block;
    margin: 0;
    padding: 1vw;
    font-size: 1vw;
    line-height: 1vw;
    background: #fff;
    text-decoration: none;
    color: #444;
    font-weight: normal; }

  /* line 198, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu li.active a {
    color: #000;
    background: #e1e1e1; }

  /* line 201, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu li a:hover {
    background: #fff;
    /* Top menu items background colour */
    color: #000; }

  /* line 207, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu li:hover a,
  #block-menu-block-1 .menu-block-wrapper ul.menu li.hover a {
    /* This line is required for IE 6 and below */
    background: #fff;
    /* Top menu items background colour */
    color: #000; }

  /* Submenu items */
  /* line 216, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu ul {
    display: none;
    /* Sub menus are hiden by default */
    position: absolute;
    top: 1vw;
    left: 0;
    right: auto;
    /*resets the right:50% on the parent ul */
    width: 10em;
    /* width of the drop-down menus */ }

  /* line 224, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu ul li {
    left: auto;
    /*resets the left:50% on the parent li */
    margin: 0;
    /* Reset the 1px margin from the top menu */
    clear: left;
    width: 100%; }

  /* line 230, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu ul li a,
  #block-menu-block-1 .menu-block-wrapper ul.menu li.active li a,
  #block-menu-block-1 .menu-block-wrapper ul.menu li:hover ul li a,
  #block-menu-block-1 .menu-block-wrapper ul.menu li.hover ul li a {
    /* This line is required for IE 6 and below */
    font-size: 1vw;
    font-weight: normal;
    /* resets the bold set for the top level menu items */
    background: #e1e1e1;
    color: #000;
    line-height: 1.4vw;
    /* overwrite line-height value from top menu */ }

  /* line 240, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu ul li a:hover,
  #block-menu-block-1 .menu-block-wrapper ul.menu li.active ul li a:hover,
  #block-menu-block-1 .menu-block-wrapper ul.menu li:hover ul li a:hover,
  #block-menu-block-1 .menu-block-wrapper ul.menu li.hover ul li a:hover {
    /* This line is required for IE 6 and below */
    background: #fff;
    /* Sub menu items background colour */
    color: #000; }

  /* Flip the last submenu so it stays within the page */
  /* line 249, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu ul.last {
    left: auto;
    /* reset left:0; value */
    right: 0;
    /* Set right value instead */ }

  /* Make the sub menus appear on hover */
  /* line 255, ../../../sass/layouts/angel/angel.layout.scss */
  #block-menu-block-1 .menu-block-wrapper ul.menu li:hover ul,
  #block-menu-block-1 .menu-block-wrapper ul.menu li.hover ul {
    /* This line is required for IE 6 and below */
    display: block;
    /* Show the sub menus */ }

  /****block menu end****/
  /**START Projects page**/
  /* line 262, ../../../sass/layouts/angel/angel.layout.scss */
  .ds-1col {
    -webkit-flex: 1;
    flex: 1; }

  /* line 267, ../../../sass/layouts/angel/angel.layout.scss */
  .field-collection-view.clearfix.view-mode-full.field-collection-view-final {
    -webkit-flex: 1;
    flex: 1;
    width: 100%;
    margin: 0;
    padding: 0; }

  /* line 276, ../../../sass/layouts/angel/angel.layout.scss */
  .hundredpercent {
    position: relative;
    background-color: #4cbdbf;
    height: 12.5vw;
    margin-top: 0;
    padding-top: 0;
    width: 100%; }

  /* line 283, ../../../sass/layouts/angel/angel.layout.scss */
  .hundredpercent p {
    text-align: left;
    border: 0px dotted red;
    width: 50%;
    margin: 0 auto;
    font-size: 1.5vw;
    position: absolute;
    top: 20%;
    left: 25%;
    height: 8vw; }

  /* line 295, ../../../sass/layouts/angel/angel.layout.scss */
  .field-collection-item-field-bigright, .field-collection-item-field-bigleft {
    width: 100%;
    height: 34vw;
    background-color: #666;
    margin: 0;
    padding: 0;
    -webkit-flex: 1;
    flex: 1;
    clear: both;
    overflow: hidden;
    margin-bottom: 0;
    border: 0px dotted blue;
    /*justify-content:center;*/
    align-items: center;
    overflow: hidden;
    margin-top: -2px; }

  /* line 317, ../../../sass/layouts/angel/angel.layout.scss */
  .field-name-field-fourup, .field-name-field-fourupright {
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 34vw;
    width: 50%;
    float: left; }

  /* line 328, ../../../sass/layouts/angel/angel.layout.scss */
  .field-name-field-fourup {
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-order: 2;
    order: 2;
    margin: 0;
    padding: 0;
    height: 34vw;
    width: 50%;
    float: left; }

  /* line 340, ../../../sass/layouts/angel/angel.layout.scss */
  .field-name-field-fourupright {
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-flow: row;
    flex-flow: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-order: 1;
    order: 1;
    margin: 0;
    padding: 0;
    height: 34vw;
    width: 50%;
    float: left; }

  /* line 352, ../../../sass/layouts/angel/angel.layout.scss */
  .inlinefourup {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    /*justify-content: center;*/
    margin: 0px 0;
    width: 50%;
    height: 17vw;
    float: left; }

  /* line 365, ../../../sass/layouts/angel/angel.layout.scss */
  .inlinefourup a .caption img {
    width: 100% !important;
    height: 17vw;
    z-index: 1; }

  /* line 373, ../../../sass/layouts/angel/angel.layout.scss */
  .field-name-field-fourup img, .field-name-field-fourupright img {
    width: 100% !important;
    height: 17vw;
    z-index: 1; }

  /*.inlinefourup a div p{z-index:99;
  position:relative;
  margin-top:-9vw;
  margin-left:0;
  width:100%;
  font-size:.9em;
  color:white;
  background:black;
  height:9vw;
  opacity: .5;
  }*/
  /* line 393, ../../../sass/layouts/angel/angel.layout.scss */
  .field-collection-view:nth-child(odd) .ds-1col .field-name-field-fourup {
    float: right; }

  /* line 394, ../../../sass/layouts/angel/angel.layout.scss */
  .field-collection-view:nth-child(even) .ds-1col .field-name-field-fourup {
    float: left; }

  /* line 397, ../../../sass/layouts/angel/angel.layout.scss */
  .field-name-field-rightbig img, .field-name-field-leftbig img {
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
    height: 34vw;
    margin: 0; }

  /* line 407, ../../../sass/layouts/angel/angel.layout.scss */
  .field-name-field-rightbig, .field-name-field-leftbig {
    -webkit-flex: 1;
    flex: 1;
    float: left;
    width: 50%;
    background-color: #666;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100%; }

  /* line 421, ../../../sass/layouts/angel/angel.layout.scss */
  .field-collection-view {
    padding: 0px;
    margin: 0px;
    border: 0px; }

  /* line 428, ../../../sass/layouts/angel/angel.layout.scss */
  .clearfix {
    margin: 0px 0 !important;
    padding: 0 !important;
    border: 0px; }

  /* line 434, ../../../sass/layouts/angel/angel.layout.scss */
  .clearfix::after {
    content: "";
    display: block;
    clear: both;
    padding: 0px;
    margin: 0px;
    height: 0px;
    border: 0px; }

  /**END Projects page**/
  /* line 447, ../../../sass/layouts/angel/angel.layout.scss */
  .node__submitted {
    display: none; }

  /* line 449, ../../../sass/layouts/angel/angel.layout.scss */
  .scrim {
    background-color: rgba(88, 88, 88, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

  /* line 456, ../../../sass/layouts/angel/angel.layout.scss */
  .fred {
    color: #d25333; }

  /* line 457, ../../../sass/layouts/angel/angel.layout.scss */
  .white {
    color: #fff; }

  /* line 458, ../../../sass/layouts/angel/angel.layout.scss */
  .single {
    font-size: 1.1em; }

  /* line 459, ../../../sass/layouts/angel/angel.layout.scss */
  .double {
    font-size: 1.7em; }

  /* line 460, ../../../sass/layouts/angel/angel.layout.scss */
  .center {
    text-align: center; }

  /* line 461, ../../../sass/layouts/angel/angel.layout.scss */
  .fourtop {
    margin-top: 4em; }

  /* line 462, ../../../sass/layouts/angel/angel.layout.scss */
  .leftbottom {
    position: absolute;
    left: 10%;
    bottom: 5%; }

  /* line 464, ../../../sass/layouts/angel/angel.layout.scss */
  .l-content h1 {
    display: none; }

  /* line 465, ../../../sass/layouts/angel/angel.layout.scss */
  .top {
    background: url(/dev/sites/default/files/projectpic_0.png) no-repeat center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 45em; }

  /* line 473, ../../../sass/layouts/angel/angel.layout.scss */
  .flex-colstretch {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    border: 0px dotted red;
    min-height: 900px; }

  /* line 487, ../../../sass/layouts/angel/angel.layout.scss */
  .flex-colstretchnoheight {
    display: flex;
    flex-direction: column;
    border: 0px dotted red; }

  /* line 492, ../../../sass/layouts/angel/angel.layout.scss */
  section {
    position: relative;
    display: flex;
    flex-flow: row;
    min-height: 20em;
    align-items: stretch; }

  /* line 493, ../../../sass/layouts/angel/angel.layout.scss */
  section.quad {
    position: relative;
    display: flex;
    flex-flow: row;
    min-height: 10em;
    align-items: stretch; }

  /* line 494, ../../../sass/layouts/angel/angel.layout.scss */
  .teal {
    background-color: #47bdbf; }

  /* line 495, ../../../sass/layouts/angel/angel.layout.scss */
  .red {
    color: #d35232;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    display: block;
    text-align: left; }

  /* line 497, ../../../sass/layouts/angel/angel.layout.scss */
  p.frontblack {
    font-size: 1em;
    color: black;
    width: 80%;
    margin: 0 auto; }

  /* line 498, ../../../sass/layouts/angel/angel.layout.scss */
  p.frontwhite {
    font-size: 1.5em;
    color: white; }

  /* line 499, ../../../sass/layouts/angel/angel.layout.scss */
  .item {
    box-sizing: content-box;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #fff;
    min-height: 8em; }

  /* line 500, ../../../sass/layouts/angel/angel.layout.scss */
  .item2 {
    box-sizing: content-box;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 8em; }

  /* line 502, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad {
    box-sizing: content-box;
    width: 25%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #fff;
    min-height: 4em; }

  /* line 503, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad2 {
    box-sizing: content-box;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 0;
    min-height: 4em; }

  /* line 505, ../../../sass/layouts/angel/angel.layout.scss */
  p.first {
    width: 75%;
    margin: 3em auto;
    color: white;
    font-size: 1.5em;
    vertical-align: middle; }

  /* line 506, ../../../sass/layouts/angel/angel.layout.scss */
  .breadcrumb {
    display: none; }

  /* line 509, ../../../sass/layouts/angel/angel.layout.scss */
  .item img {
    width: 100%; }

  /* line 510, ../../../sass/layouts/angel/angel.layout.scss */
  .item2 img {
    width: 100%; }

  /* line 511, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad img {
    width: 100%; }

  /* line 512, ../../../sass/layouts/angel/angel.layout.scss */
  .itemquad2 img {
    width: 100%; }

  /* line 513, ../../../sass/layouts/angel/angel.layout.scss */
  .centerbox {
    width: 100%;
    margin: 0 auto; }
    /* line 514, ../../../sass/layouts/angel/angel.layout.scss */
    .centerbox h4.red {
      width: 80%;
      margin: 1em auto; }
    /* line 515, ../../../sass/layouts/angel/angel.layout.scss */
    .centerbox p {
      text-align: left; }

  /* line 517, ../../../sass/layouts/angel/angel.layout.scss */
  ul#twolist {
    list-style-type: none;
    color: #d15232;
    width: 40%;
    margin: 0 auto;
    text-align: left; }

  /* line 518, ../../../sass/layouts/angel/angel.layout.scss */
  .middlecenter {
    width: 80%;
    margin: 2em auto;
    height: auto;
    text-align: center; }

  /* line 520, ../../../sass/layouts/angel/angel.layout.scss */
  .gray {
    color: #666; }

  /* line 521, ../../../sass/layouts/angel/angel.layout.scss */
  footer {
    height: 20em;
    background-color: #d5d5d5;
    margin: 0; }

  /* line 526, ../../../sass/layouts/angel/angel.layout.scss */
  .l-region--branding {
    width: 50%;
    display: inline-block;
    float: right; }

  /* line 527, ../../../sass/layouts/angel/angel.layout.scss */
  #block-system-main-menu .menu {
    list-style-type: none; }
    /* line 528, ../../../sass/layouts/angel/angel.layout.scss */
    #block-system-main-menu .menu li {
      list-style-type: none;
      display: inline-block;
      float: left;
      margin-left: 2vw; }

  /* line 531, ../../../sass/layouts/angel/angel.layout.scss */
  #superfish-1 {
    margin-top: 2vw; }
    /* line 533, ../../../sass/layouts/angel/angel.layout.scss */
    #superfish-1 li {
      margin-left: 2vw; }

  /* line 539, ../../../sass/layouts/angel/angel.layout.scss */
  .l-branding {
    border: 0px dotted maroon;
    background-color: #ededed;
    text-align: left; }

  /* line 548, ../../../sass/layouts/angel/angel.layout.scss */
  .l-header {
    margin: 0; }

  /* line 552, ../../../sass/layouts/angel/angel.layout.scss */
  .l-region--navigation {
    clear: both; } }

/*# sourceMappingURL=angel.layout.css.map */
