

.field-name-field-fourup a div.caption {
	margin: 0;
	padding:0;
	position: relative;
	height:18vw;
}


.field-name-field-fourup a div.caption p {
position:absolute;
bottom:0;
left:0;
	margin: 0 0 0 0;
	padding: 20px;
	border: 0px #ddd dotted;
	font-size: .9em;
	background-color:black;
	opacity: .5;
	color:white;
	z-index:999;
}

.field-name-field-fourup a div.caption p a{text-decoration:none;
color:white;text-transform:uppercase;}

.field-name-field-fourup a div.caption img {
	margin: 0; padding: 0;
	z-index:0;
	height:18vw;
}


.field-name-field-rightbig div.caption {
	margin: 0;
	padding:0;
	position: relative;
	height:34vw;
}


.field-name-field-rightbig div.caption p {
position:absolute;
bottom:0;
left:0;
	margin: 0 0 0 0;
	padding: 20px;
	border: 0px #ddd dotted;
	font-size: .9em;
	background-color:black;
	opacity: .5;
	color:white;
	z-index:999;
}

.field-name-field-rightbig div.caption p a{text-decoration:none;
color:white;text-transform:uppercase;}

.field-name-field-rightbig div.caption img {
	margin: 0; padding: 0;
	z-index:0;
	height:34vw;
}
