/*******************************************************************************
 * angel.layout.scss
 *
 * Styling of the "angel" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
/*@import "singularitygs";*/

// Set breakpoint values.
$phone : 480px;
$tab  : 800px;
$desk : 1100px;

//************phone************//

@include breakpoint($phone, true) {
  /* Header Area */
  body{font-size:16px;}
 h1 {

}

.flex-colstretch{display:flex;
flex-direction: row;
border:2px dotted red;min-height: 900px;}


section{flex-direction: column;border:2px dotted green;min-height:20em;}

.item{flex: 0 1 auto;background-color:#ff0;min-height:8em;border:2px dotted orange;}

.breadcrumb {
  display: none;
}


footer{height:20em;background-color:#d5d5d5;margin:0;}


 

  .l-region--branding{width:40%;display:inline-block;float:right;}
  #block-system-main-menu .menu{list-style-type:none;
  li{list-style-type:none;display:inline-block;float:left;margin-left:2em;}
  }
  
  #superfish-1{
  margin-top:2em;
  li{margin-left:2em;}
  
  }
 
 
 
  .l-branding {


    border: 0px dotted maroon;
    background-color: #ededed;
    text-align:left;

  }
  
  .l-header{margin:0;}
  .l-region--header {

  }
  .l-region--navigation {
    clear: both;
  }

  }

//************end phone************//
//************tablet************//

@include breakpoint($tab) {
  /* Header Area */
  body{font-size:16px;}
 h1 {

}

.flex-colstretch{display:flex;
flex-direction: column;
border:2px dotted red;min-height: 900px;}


section{display:flex; flex-flow: row wrap;border:2px dotted green;min-height:20em;}

.item{  flex-grow:1;background-color:#ff0;min-height:8em;border:2px dotted orange;}
.item2{  flex-grow:2;background-color:#0ff;min-height:8em;border:2px dotted pink;}
.breadcrumb {
  display: none;
}


footer{height:20em;background-color:#d5d5d5;margin:0;}


 

  .l-region--branding{width:40%;display:inline-block;float:right;}
  #block-system-main-menu .menu{list-style-type:none;
  li{list-style-type:none;display:inline-block;float:left;margin-left:2em;}
  }
  
  #superfish-1{
  margin-top:2em;
  li{margin-left:2em;}
  
  }
 
 
 
  .l-branding {


    border: 0px dotted maroon;
    background-color: #ededed;
    text-align:left;

  }
  
  .l-header{margin:0;}
  .l-region--header {

  }
  .l-region--navigation {
    clear: both;
  }

  }

//************end tablet************//
//************desk************//

@include breakpoint($desk, true) {
  /* Header Area */
  body{font-size:16px;}
 h1 {

}

.flex-colstretch{display:flex;
flex-direction: column;
border:2px dotted red;min-height: 900px;}


section{display:flex; flex-flow: row wrap;border:2px dotted green;min-height:20em;}

.item{  flex-grow:1;background-color:#ff0;min-height:8em;border:2px dotted orange;}
.item2{  flex-grow:2;background-color:#0ff;min-height:8em;border:2px dotted pink;}
.breadcrumb {
  display: none;
}


footer{height:20em;background-color:#d5d5d5;margin:0;}


 

  .l-region--branding{width:40%;display:inline-block;float:right;}
  #block-system-main-menu .menu{list-style-type:none;
  li{list-style-type:none;display:inline-block;float:left;margin-left:2em;}
  }
  
  #superfish-1{
  margin-top:2em;
  li{margin-left:2em;}
  
  }
 
 
 
  .l-branding {


    border: 0px dotted maroon;
    background-color: #ededed;
    text-align:left;

  }
  
  .l-header{margin:0;}
  .l-region--header {

  }
  .l-region--navigation {
    clear: both;
  }

  }