/*******************************************************************************
 * angel.layout.scss
 *
 * Styling of the "angel" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
/*@import "singularitygs";*/

// Set breakpoint values.
$phone : 480px;
$tab  : 800px;
$desk : 2200px;

//************phone************//

@include breakpoint($phone, true) {
  /* Header Area */
  body{font-size:16px;}
.node__submitted{display:none;}
.l-content{h1{display:none;}}
 .top{
  background: url(/dev/sites/default/files/projectpic_0.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height:45em;}

.flex-colstretch{display:flex;
flex-direction: column;
border:0px dotted red;min-height: 900px;}


section{display:flex; flex-flow: row;min-height:20em;}

.item{  flex-grow:1;background-color:#ff0;min-height:8em;}
.item2{  flex-grow:2;background-color:#0ff;min-height:8em;}
.breadcrumb {
  display: none;
}


footer{height:20em;background-color:#d5d5d5;margin:0;}


 

  .l-region--branding{width:40%;display:inline-block;float:right;}
  #block-system-main-menu .menu{list-style-type:none;
  li{list-style-type:none;display:inline-block;float:left;margin-left:2em;}
  }
  
  #superfish-1{
  margin-top:2em;
  li{margin-left:2em;}
  
  }
 
 
 
  .l-branding {


    border: 0px dotted maroon;
    background-color: #ededed;
    text-align:left;

  }
  
  .l-header{margin:0;}
  .l-region--header {

  }
  .l-region--navigation {
    clear: both;
  }

  }

//************end phone************//
//************tablet************//

@include breakpoint($tab) {
  /* Header Area */
  body{font-size:16px;}
.node__submitted{display:none;}

.l-content{h1{display:none;}}
 .top{
  background: url(/dev/sites/default/files/projectpic_0.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height:45em;}

.flex-colstretch{display:flex;
flex-direction: column;
border:0px dotted red;min-height: 900px;}


section{display:flex; flex-flow: row;min-height:20em;align-items: stretch;}

.item{  flex-grow:1;flex-basis:0;background-color:#ff0;min-height:8em;}
.item2{  flex-grow:2;flex-basis:0;background-color:#0ff;min-height:8em;}
.item2 p{width:25em;}
.breadcrumb {
  display: none;
}


footer{height:20em;background-color:#d5d5d5;margin:0;}


 

  .l-region--branding{width:40%;display:inline-block;float:right;}
  #block-system-main-menu .menu{list-style-type:none;
  li{list-style-type:none;display:inline-block;float:left;margin-left:2em;}
  }
  
  #superfish-1{
  margin-top:2em;
  li{margin-left:2em;}
  
  }
 
 
 
  .l-branding {


    border: 0px dotted maroon;
    background-color: #ededed;
    text-align:left;

  }
  
  .l-header{margin:0;}
  .l-region--header {

  }
  .l-region--navigation {
    clear: both;
  }

  }

//************end tablet************//
//************desk************//

@include breakpoint($desk, true) {
  /* Header Area */
  body{font-size:16px;}
.node__submitted{display:none;}

.l-content{h1{display:none;}}
 .top{
  background: url(/dev/sites/default/files/projectpic_0.png) no-repeat center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height:45em;}

.flex-colstretch{display:flex;
flex-direction: column;
border:0px dotted red;min-height: 900px;}


section{display:flex; flex-flow: row;min-height:20em;align-items: stretch;}

.item{  flex-grow:1;flex-basis:0;background-color:#ff0;min-height:8em;}
.item2{  flex-grow:2;flex-basis:0;background-color:#0ff;min-height:8em;}
.item2 p{width:75%;margin:0 auto;color:white;font-size:1.5em;}
.breadcrumb {
  display: none;
}


footer{height:20em;background-color:#d5d5d5;margin:0;}


 

  .l-region--branding{width:40%;display:inline-block;float:right;}
  #block-system-main-menu .menu{list-style-type:none;
  li{list-style-type:none;display:inline-block;float:left;margin-left:2em;}
  }
  
  #superfish-1{
  margin-top:2em;
  li{margin-left:2em;}
  
  }
 
 
 
  .l-branding {


    border: 0px dotted maroon;
    background-color: #ededed;
    text-align:left;

  }
  
  .l-header{margin:0;}
  .l-region--header {

  }
  .l-region--navigation {
    clear: both;
  }

  }