/*******************************************************************************
 * angel.layout.scss
 *
 * Styling of the "angel" layout demonstrating the golden rule and asymmetric
 * grids with Singularity.
 ******************************************************************************/
@import "compass";
@import "breakpoint";
@import "singularitygs";

// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 20px;
$horz-spacing-unit: 1em;

// Set breakpoint values.
$phone : 360px;
$tab  : 768px;
$desk : 980px;

// Set Singularity grid variables.
$grids: 6,6;
$grids: add-grid(6 6 at $phone);
$grids: add-grid(6 6 at $tab);
$grids: add-grid(6 6 at $desk);

$gutters: 1/3;

.l-page {
  width: 95%;
  max-width: 110em;
  margin: 0 auto;
  border: 2px dotted red;
}

.l-header,
.l-main {
  @include pie-clearfix;
  margin-bottom: $vert-spacing-unit;
    border: 2px dotted green;
}


@include breakpoint($phone, true) {
  /* Header Area */
  
  @include sgs-change('debug', true);
  .l-header {
    @include pie-clearfix;
    border: 2px dotted red;
  }
  .l-branding {
   @include background-grid($color: blue);
    @include grid-span(12,1);
    border: 2px dotted maroon;
    background-color: lightgray;
    text-align:center;
  }
  .l-region--header {
    @include grid-span(12, 1);
  }
  .l-region--navigation {
    clear: both;
  }

  /* Content Area */
  .l-content {
    @include grid-span(12, 1);
  }

  /* Sidebars */
  .has-one-sidebar {
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include grid-span(2, 2);
    }
  }
  .has-two-sidebars {
    .l-region--sidebar-first {
      @include grid-span(1, 2);
    }
    .l-region--sidebar-second {
      @include grid-span(1, 3);
    }
  }
}

@include breakpoint($tab) {
  /* Header Area */
  .l-branding {
    @include grid-span(6, 1);
    border:2px dotted orange;
  }
  .l-region--header {
    @include grid-span(6, 1);
  }
  .l-region--navigation {
    clear: both;
  }

  /* Content Area */
  .l-content {
    @include grid-span(6, 1);
  }

  /* Sidebars */
  .has-one-sidebar {
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include grid-span(2, 1);
    }
  }
  .has-two-sidebars {
    .l-region--sidebar-first {
      @include isolation-span(1, 1, 'both');
    }
    .l-region--sidebar-second {
      @include grid-span(1, 2);
    }
  }
}

@include breakpoint($desk, true) {
  /* Header Area */
  
  @include sgs-change('debug', true);
  .l-header {
    @include pie-clearfix;
    border: 2px dotted red;
  }
  .l-branding {
   @include background-grid($color: blue);
    @include grid-span(12,1);
    border: 2px dotted maroon;
    background-color: lightgray;
    text-align:center;
  }
  .l-region--header {
    @include grid-span(12, 1);
  }
  .l-region--navigation {
    clear: both;
  }

  /* Content Area */
  .l-content {
    @include grid-span(12, 1);
  }

  /* Sidebars */
  .has-one-sidebar {
    .l-region--sidebar-first,
    .l-region--sidebar-second {
      @include grid-span(2, 2);
    }
  }
  .has-two-sidebars {
    .l-region--sidebar-first {
      @include grid-span(1, 2);
    }
    .l-region--sidebar-second {
      @include grid-span(1, 3);
    }
  }
}
