.masonry-item {
float:left;
display:inline-block;
border: 0px solid #333;
background-color: #fff;
margin: 0;
padding: 0;
width:auto;
max-width:50%;
height:22vh;
}
.masonry-item img{width:100%;}

.sixhundred{max-width:50%;height:50vh;}

.gridwrap{width:100%;height:auto;display:block;clear:both;}
.gridwrapouter{width:50%;height:50vh;display:inline-block;}