.masonry-item {
float:left;
display:inline-block;
border: 0px solid #333;
background-color: #fff;
margin: 0;
padding: 0;
width:50%;
max-width:50%;
height:12em;
}
.masonry-item img{width:100%;}

.sixhundred{width:50%;max-width:50%;height:22em;}

.gridwrap{width:100%;height:10em;display:block;clear:both;}
.gridwrapouter{width:50%;height:22em;display:inline-block;}
.right{float:right;}