.masonry-item {
float:left;
display:inline-block;
border: 0px solid #333;
background-color: #fff;
margin: 0;
padding: 0;
width:auto;
max-width:25%;
height:20vh;
}
.masonry-item img{width:auto;}

.sixhundred{max-width:50%;height:40vh;}

.gridwrap{width:50%;height:50vh;}